{% extends "layout.html" %}
{% from "macros.html" import with_error_tooltip %}
{% block nav %}{% endblock %}
{% block content %}
<div class="container" id="content">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="card card-block">
                <h1 class="card-title">Login</h1>
                <p class="card-text">Enter your credentials below</p>
                <form action="{{ url_for_security('login') }}" method="POST">
                    <div class="row">
                        {{ with_error_tooltip(login_user_form.email, label=False, placeholder=login_user_form.email.label.text, class="form-control", size="col-xs-12") }}
                    </div>
                    <div class="row p-t-1">
                        {{ with_error_tooltip(login_user_form.password, label=False, placeholder=login_user_form.password.label.text, class="form-control", size="col-xs-12") }}
                    </div>
                    <div class="row p-t-1">
                        <div class="checkbox col-xs-12">
                            <label>
                                {{ login_user_form.remember }} Remember Me  
                            </label>
                        </div>
                    </div>
                    <div class="row p-t-1">
                        {{ login_user_form.submit(class="btn btn-primary btn-block col-xs-12") }}
                    </div>
                    {{ login_user_form.hidden_tag() }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
