<div class="btn-group btn-group-xs" role="group">
	<a class="text-warning" data-toggle="modal" data-target="#editentry" data-entryid="{{ id }}" data-typename="{{ typename }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
	<a class="text-danger" href="{{ url_for('deleteEntry', typename=typename, id=id) }}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
</div>