{% extends "layout.html" %}
{% from "macros.html" import with_errors %}
{% block content %}
<div class="modal fade" id="addentry" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="editentry" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="deleteentry" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-xs-12 col-md-11">
            <h1>{{ documentType.typename }} {{ documentType.documenttype }}s</h1> 
        </div>
        <div class="col-xs-12 col-md-1">
            <a type="button" class="btn btn-success btn-sm" data-typeid="{{ documentType.id }}" data-typename="{{documentType.documenttype }}" data-toggle="modal" data-target="#addentry"><i class="fa fa-plus-circle fa-2" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="entries" class="display" cellspacing="0" width="100%">
                <thead>
                    {% for field in documentType.fields %}
                    <th>{{ field.fieldname }}</th>
                    {% endfor %}
                    <th></th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{{ super() }}
{% assets "entryview" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: '/{{ documentType.documenttype }}/{{ documentType.id }}/get',
            type: 'GET',
            dataType: 'json'
        }).done(function(response) {
            console.log(response);
            data = response["data"];
            headers = response["headers"];
            $('#entries').DataTable( {
                scrollX: true,
                data: data,
                columns: headers,
                columnDefs: [
                    {
                        "targets": [-1],
                        "searchable": false,
                        "sortable": false,
                        "width": "5%"
                    }
                ]
            });
        })
    });
</script>
{% endblock %}
