<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Exception Tracker{% endblock %}</title>
	{% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL  }}">
	{% endassets %}
    </head>
    <body>
        {% block nav %}
	<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsenavbar">
            &#9776;
        </button>
        <span class="navbar-brand">Exception Tracker</span>
        <div class="collapse navbar-toggleable-xs" id="collapsenavbar">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('showTypes', typename="exception") }}">Exception</a>
                <a class="nav-item nav-link" href="{{ url_for('showTypes', typename="object") }}">Object</a>
                <a class="nav-item nav-link" href="{{ url_for('users') }}">Users</a>
                <a class="nav-item nav-link" href="{{ url_for_security('logout') }}">Logout</a>
            </div>
        </div>
	</nav>
        {% endblock %}
        {% block messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="alerts" class="container-fluid">
            <div class="row">
        {% for category, message in messages %}
                <div class="alert alert-dismissible alert-{{ category }} alert-message fade in" role="alerts">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
        {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% block javascript %}
	{% assets "js_all" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
        {% endblock %}
    </body>
</html>
