{% macro with_error_tooltip(field, label=True, size='col-md-3 col-xs-6') %}
{% if field.errors %}
{% set wrapperclass = size + ' has-danger' %}
{% else %}
{% set wrapperclass = size %}
{% endif %}
<div class="{{ wrapperclass }}">
    {% if label %}
    {% set labelSize = kwargs.pop('labelSize', '') %}
    {{ field.label(class="form-control-label") }}
    {% endif %}
    {% if field.errors %}
    {% set _dummy = kwargs.update({'data-toggle':'tooltip', 'data-placement':'top', 'data-container':'body', 'title':field.errors[0]}) %}
    {{ field(**kwargs) }}
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
</div>
{% endmacro %}

{% macro with_error_list(field, label=True, size='col-md-3 col-xs-6') %}
{% if field.errors %}
{% set wrapperclass = 'field-group has-danger' %}
{% else %}
{% set wrapperclass = 'field-group' %}
{% endif %}
<fieldset class="{{ wrapperclass }} {{ size }}">
    {% if label %}
    {{ field.label() }}
    {% endif %}
    {{ field(**kwargs) }}
    {% if field.errors %}
        <ul>{% for error in field.errors %}<li class="text-danger">{{ error|e  }}</li>{% endfor %}</ul>
    {% endif %}
</fieldset>
{% endmacro %}

{% macro with_error_list_div(field, label=True, size='col-md-3 col-xs-6') %}
{% if field.errors %}
{% set wrapperclass = 'field-group has-danger' %}
{% else %}
{% set wrapperclass = 'field-group' %}
{% endif %}
<div class="{{ wrapperclass }} {{ size }}">
    {% if field.type == "BooleanField" %}
    <label>
        {{ field(**kwargs) }} {{ field.label.text }}
    </label>
    {% else %}
    {% if label %}
    {{ field.label() }}
    {% endif %}
    {{ field(**kwargs) }}
    {% if field.errors %}
        <ul>{% for error in field.errors %}<li class="text-danger">{{ error|e  }}</li>{% endfor %}</ul>
    {% endif %}
    {% endif %}
</div>
{% endmacro %}
