{% from "macros.html" import with_error_list_div %}
<form action="{{ action }}" method="POST">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
	{% for field in form %}
	{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
	    {{ field() }}
        {% else %}
            {{ with_error_list_div(field,  class="form-control", size="col-lg-6 col-md-6 col-sm-12") }}
        {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
