{% from "macros.html" import with_error_list_div %}
<li>
    <div class="row p-t-1">
        <form class="newcustomfield">
            {{ fieldForm.csrf_token }}
            {{ with_error_list_div(fieldForm.fieldname, label=False, placeholder=fieldForm.fieldname.label.text, class="form-control", size="col-lg-2 col-md-3 col-sm-6") }}
            {{ with_error_list_div(fieldForm.fieldtype, label=False, placeholder=fieldForm.fieldtype.label.text, class="form-control", size="col-lg-2 col-md-3 col-sm-6") }}
            {{ fieldForm.typeid() }}
            {{ fieldForm.fieldid() }}
            {{ fieldForm.placement() }}
            <div class="col-xs-1">
                <a class="text-danger deletefield" data-fieldid="{{ fieldForm.fieldid.data }}" data-toggle="modal" data-target="#deleteconfirm"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
            </div>
        </form>
    </div>
</li>
