{% extends "layout.html" %}
{% from "macros.html" import with_errors %}
{% block content %}
<div class="container" id="content">
    <div class="row p-y-1">
        <div class="col-md-12 col-sm-12">
            <a class="btn btn-success" href="{{ url_for('newTypeDefinition', typename=typename )}}">New {{ typename }} type</a>
        </div>
    </div>
    <div class="row">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                {% for type in types %}
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title"><a href="{{ url_for('showTypeEntries', typename=type.documenttype, id=type.id) }}">{{ type.typename }}</a><span class="text-muted"> ({{ typecounts[type.id] }})</span></h3>
                        {% if type.description != "" %}
                        <p class="card-text">{{ type.description }}</p>
                        {% endif %}
                        <p class="card-text"><b>Owner:</b> {{ type.owner }}</p>
                        <a href="{{ url_for('editType', typename=type.documenttype, id=type.id) }}" class="btn btn-warning">Edit</a>
                    </div>
                </div>
                {% if loop.index % 3 == 0 and loop.index > 0 %}
            </div>
        </div>
    </div>
    <div class="row p-t-1">
        <div class="card-deck-wrapper">
            <div class="card-deck">
            {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
