{% extends "layout.html" %}
{% from "macros.html" import with_error_tooltip %}
{% from "macros.html" import with_error_list_div %}
{% block content %}
<div class="modal fade" id="deleteconfirm" tabindex="-1" role="dialog" aria-labelledby="deleteconfirm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this user?</h4>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('deleteUser') }}" method="POST">
                    {{ deleteUserForm.csrf_token }}
                    {{ deleteUserForm.user_id() }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edituser" tabindex="-1" role="dialog" aria-labelledby="edituser" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="POST" id="edituserform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="edituser">Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {{ with_error_list_div(editUserForm.email, disabled="true", class="form-control", size="col-md-6") }}
                    </div>
                    <div class="row">
                        {{ with_error_list_div(editUserForm.new_password, class="form-control", size="col-md-6") }}
                    </div>
                    <div class="row">
                        {{ with_error_list_div(editUserForm.new_password_confirm, class="form-control", size="col-md-6") }}
                    </div>
                    <div class="row">
                        {{ with_error_list_div(editUserForm.roles, class="form-control", size="col-md-6") }}
                    </div>
                    {{ editUserForm.user_id }}
                    {{ editUserForm.csrf_token }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="text-xs-center">Add User</h1>
            <form action="{{ url_for('addUser')  }}" method="POST">
                {{ newUserForm.csrf_token }}
                <div class="row">
                    {{ with_error_tooltip(newUserForm.email, label=False, placeholder=newUserForm.email.label.text, class="form-control", size="col-md-2 col-md-offset-1 col-xs-12") }}
                    {{ with_error_tooltip(newUserForm.password, label=False, placeholder=newUserForm.password.label.text, class="form-control", size="col-md-2 col-xs-12") }}
                    {{ with_error_tooltip(newUserForm.password_confirm, label=False, placeholder=newUserForm.password_confirm.label.text, class="form-control", size="col-md-2 col-xs-12") }}
                    {{ with_error_tooltip(newUserForm.roles, label=False, class="form-control", size="col-md-2 col-xs-12") }}
                    <button type="submit" class="btn btn-success btn-sm col-md-2 col-xs-12" href="{{ url_for('addUser') }}">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row p-t-2">
        <h1 class="text-xs-center">Current Users</h1>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Email</td>
                        <td>Roles</td>
                        <td>Controls</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td scope="row">{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                            {{ role.name }}
                            {% endfor %}
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a type="button" class="btn btn-warning edituser" data-id="{{ user.id  }}" data-toggle="modal" data-target="#edituser">Edit</a>
                                <a type="button" class="btn btn-danger" data-id="{{ user.id  }}" data-toggle="modal" data-target="#deleteconfirm">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ super() }}
{% assets "users" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
