#content {
    padding-top: 70px;
}

#alerts {
    z-index: 1; 
    position: absolute; 
    right: 1em; 
    top: 4.8em;
}

ul.sortable.list {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}
li.sortable-dragging {
    opacity: 0.7;
}

